.Cell {
  height: 25px;
  width: 25px;
}

.Cell--button {
  background-color: #ccc;
  border-color: #d8d8d8;
  border-style: outset;
  border-width: medium;
  color: #000;
  text-align: center;
}

.Cell--button:hover {
  background-color: #dcdcdc;
  border-color: #d0d0d0;
  border-style: outset;
  border-width: medium;
  cursor: pointer;
}

.Cell--image {
  background-color: #ccc;
  background-size: 100% 100%;
}
